<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/posting.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
        <title><%= title %></title><!--query.id-->
    </head>
    <body>
        
        <div class = "wrapper">

            <header>
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="/">
                        <img src="../../images/black-fag.png" alt="faggot" class="d-inline-block align-text-top">
                      </a>
    
                      <div id="title">
                        <h2>
                          <a id="titlea" href="<%= hrefTitle %>" >
                            <%= h2title %>
                          </a>
                        </h2>
                      </div>
                      <% if(update===true){ %> <!--업데이트 가능여부-->
                        <div>
                            <button class="btn btn-primary" alt="수정" onclick="goUpdate('http://14.38.252.76/board/modify?id=<%=listquery%>&no=<%=postquery%>')">수정</button>
                            <button class="btn btn-primary" alt="삭제" onclick="goDelete('http://14.38.252.76/board/delete')">삭제</button>
                        </div>
                      <% } else if(update === "password") { %>
                        <div>
                            <button class="btn btn-primary" alt="수정" onclick="goUpdate('http://14.38.252.76/board/modify?id=<%=listquery%>&no=<%=postquery%>')">수정</button>
                            <button class="btn btn-primary" alt="삭제" onclick="goDelete('http://14.38.252.76/board/delete')">삭제</button>
                        </div>
                        <% } else { %>
                            <div>
                                <button style="cursor: default; border: transparent; background-color: transparent; color: transparent;" >ㅇㅇ</button>
                                <button style="cursor: default; border: transparent; background-color: transparent; color: transparent;" >ㅇㅇ</button>
                            </div>
                        <%}%>
                    </div>
                  </nav>
            </header>

            <div id="container">

                <div id="content" >
                    <div id="informations">
                        <!--제목 닉네임 작성일자 조회추 추천수 댓글수-->
                        <h3 class="post_title">
                            <%= post.title %>
                        </h3>
                        <div class="stats">
                            <div id="fl"><!--이름 작성일자-->
                                <span class="poster">
                                    <% if(post['User.name']){%>
                                        <%= post['User.name'] %>
                                    <% } else{ %> 
                                    <%=  post.who+'('+post.ip+')' %>
                                    <% } %>
                                    |
                                </span>
                                <span class="postdate">
                                    <%= post.createdAt %>
                                </span>
                            </div>
                            <div id="fr"><!--조회수 추천수 댓글수-->
                                <span class="view">
                                    조회:
                                    <%= post.view %> |
                                </span>
                                <span class="thumsup">
                                    추천:
                                    <%= post.thmsup %> |
                                </span>
                                <span class="numberOfComments">
                                    댓글:
                                    <%= numOfCom %>
                                </span>
                            </div>
                        </div>
                        
                    </div>
    
                    <div class="content_wrapper">
                        <%- post.content %>
                    </div>

                    <!--추천 비추천-->
                    <div class="thumpsup">
                        
                        <div class="inner fl">

                            <div class="up_numbox">
                                <p class="font_red" id="recomend">0</p>
                            </div>

                            <button class="button_up" onclick="thumbsUp()">
                                <img src="../ico/gaechu-before.png">
                            </button>
                        </div>

                        <div class="inner fr">
                            <div class="down_numbox">
                                <p class="font_grey" id="notrecomend">0</p>
                            </div>
                            <button class="button_down" onclick="thumbsDown()">
                                <img src="../ico/bichu.png">
                            </button>
                        </div>

                    </div>

                </div>

                <div class="commentbox">
                    <!--댓글 영역-->
                    <ul class="cmt_list">
                        <% for(let i=0;i<numOfCom;i++) { %>
                            <% var deleteButtonFlag %>
                            <% var Who; %>
                            <% if(comment[i]['User.name']===null) { %>
                            <%  Who = comment[i].who+'('+comment[i].ip+')'; %>
                            <% } else { Who = comment[i]['User.name']; }%>
                            <li id="comment_li <%= comment[i].id %>">
                                <div class="commentdiv">
                                    
                                    <div id="whoAreYou">
                                        <span id="nameipspan">
                                            <%= Who %>
                                            <% if(comment[i].user_id) { %>
                                                <img src="../images/logged.png"/>
                                            <% } %>
                                        </span>
                                    </div>
                                    

                                    <div id="cmtcontent">
                                        <%= comment[i].comment %>
                                    </div>

                                    <div id="timeNdelete" re_no="<%= comment[i].id %>">
                                        <span id="time">
                                            <%= comment[i].createdAt %>
                                        </span>
                                        <% if(!comment[i].user_id || comment[i].user_id === user_id) {  %><!--댓글에 userid가 없거나 나의 userid와 일치한다면-->
                                        <input type="button" class="button_cmt_delete">
                                        <% } %>

                                    </div>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                    <!--댓글 영역-->
                </div>

                <div class="writebox">
                    <% if(loginedName!==null) {%>
                    <input type="text" id="NameInput" class="NameInput" readonly placeholder="<%= loginedName %>" style="cursor: default;">
                    <% } else { %>
                        <input type="text" id="NameInput" class="NameInput" placeholder="이름">
                        <input type="password" id="passInput" class="passInput" placeholder="비밀번호">
                    <%}%>
                    <!--이름작성-->
                    <!--비번작성-->
                    <input type="text" id="cmtInput" class="cmtInput" placeholder="댓글 작성">
                    <button type="submit" id="cmtButton" class="cmtButton"  onclick="addcomment()" >작성</button>
                </div>

            </div>

            <footer>
                
            </footer>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
        
    <script>
        const post_id = window.location.href.split('&')[1].split('=')[1];//게시글 번호
        const fetchComment = async(who,pass,cmt,no)=>//댓글 함수
        {
            let data = 
            {
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({who:who, password:pass,comment:cmt,post_id:post_id})
            };
            const res = await fetch('/comment/saveComment',data);
            const resdata = await res.json();
            return resdata;
        }
        async function addcomment()//서버에서 한번더 체크함
        {
            
            let cmt = document.getElementById('cmtInput').value;//댓글
            if(cmt===null || cmt===''){
                alert('댓글을 입력해주세요');
                return false;
            }
            
            let pass = document.getElementById('passInput');
            if(pass)
                pass = pass.value;
            else
                pass = null;
            let name = document.getElementById('NameInput').value;//이름

            let res = await fetchComment(name,pass,cmt,post_id)
            if(res.success){
                window.location.reload();
            }else{
                alert(res.err);
            }
        }
        /*댓글 지우기*/
        var deleteButtons = document.getElementsByClassName('button_cmt_delete');
        for(i=0;i<deleteButtons.length;i++)
        {
            deleteButtons.item(i).addEventListener('click',async (e)=>
            {
                let password = prompt('패스워드를 입력해주세요');
                let comment_num = e.target.parentElement.getAttribute('re_no');
                if(password===null)
                {
                    return false;
                }
                let data = 
                {
                    method: 'POST',
                    headers:{
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({comno: comment_num,pass:password,post_id:post_id})
                };
                const res = await fetch('/comment/deleteComment',data);
                const resdata = await res.json();
                if(resdata)
                {
                    console.log('댓글을 지웁니다');
                    window.location.reload();
                }
                else
                {
                    alert('비밀번호가 틀렸습니다');
                }
            })
        }
        $(document).ready(function() {
            document.querySelectorAll('oembed[url]').forEach((e)=>
            {
                const mediaUrl = e.getAttribute('url');
                var request = null;
                let query = {url:mediaUrl};
                query['maxwidth']=650;
                query['maxheight']=500;
                query['nowrap'] = "on";
                if (request && request.transport) request.transport.abort();
                let res = $.ajax({
                    url:'https://noembed.com/embed?url='+mediaUrl,
                    type:'GET',
                    data:query,
                    dataType:'json',
                    success: function(res){
                        if(res.html)
                        {
                        $('.media').html(res.html);
                        }
                    }
                });
            });
        });
        function thumbsUp()
        {
            alert('hello');
        }
        function thumbsDown()
        {
            alert('hello');
        }
        async function goUpdate(url)
        {
            window.location.href = url;
        }
        async function goDelete(url)
        {
            let ckres = await fetch('/board/check',{
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            no:post_id,
                        }),
                    });
            let ckdata = await ckres.json();
            let result = ckdata.result;
            if(result===true)
            {
                if(confirm('삭제하시겠습니까?'))
                {
                    let res = await fetch(url,{
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            pass:null,
                            no:post_id,
                        }),
                    });
                    let data = await res.json();
                    if(data)
                    {
                        window.location.href = "http://14.38.252.76/board/lists?id=<%=listquery%>";//게시판으로 다시 돌아감
                    }
                    else
                    {
                        alert('게시글을 삭제하기 못하였습니다');
                    }
                }
            }
            else if(result ==='pass')
            {
                let pass = prompt('비밀번호를 입력해주세요');
                if(pass)
                {
                    let res = await fetch(url,{
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            pass:pass,
                            no:post_id,
                        }),
                    });
                    let data = await res.json();
                    let result = data.result;
                    if(result)
                    {
                        window.location.href = "http://14.38.252.76/board/lists?id=<%=listquery%>";//게시판으로 다시 돌아감
                    }
                    else
                    {
                        alert(data.msg);
                    }
                }
            }
        }
    </script>
</html>